/* ESTE ES EL HEADER CSS*/
header{
    background-image:url(img/header.jpg);
    height: 200px;
    color:aliceblue;
    text-shadow: 8px 6px 8px #0000009d;
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
    text-align:center ;
    align-content: center;
}

/* ESTE ES COLOR DE FONDO DEL BODY (CLASS CSS) */
.cuerpo{
    background-color: rgb(53, 57, 65);
}

/* ESTA ES LA APARIENCIA DEL FOOTER CSS */
footer{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
background-color: black;
}

/* ESTE ES LA APARIENCIA DEL BOTON PARA VOLVER AL INICIO (CLASS CSS) */
.volver{
    text-align: center;
}

/* COLOR DE LETRAS DEL ARTICLE CSS*/
article{
    color: aliceblue;
}

/* ESTA ES LA APARIENCIA DEL H2 CSS */
h2{
    color: aliceblue;
    text-align: center;
}

/* ESTA ES LA APARIENCIA DE LAS LISTAS (CLASS CSS) */
.lista{
color: aliceblue;
margin: 4%;

}

/* ESTA ES LA APARIENCIA DEL LI CSS */
li{
text-align: center;
font-size: xx-large;
border: 2px;
}

/* ESTA ES LA APARIENCIA DE LA REFLEXION (CLASS CSS) */
.reflexion{
margin: 4%;    
}

/* ESTA ES LA APARIENCIA DE LA TABLA TH CSS */
th{
   color:aliceblue;
}

/* ESTA ES LA APARIENCIA DE LA TABLA TD CSS */
td{
color: aliceblue;
}

/* ESTA ES LA APARIENCIA DE LAS TARJETAS (ID CSS) */
#tarjeta{
    text-align: center;
    color: black;
    margin-left: 40%;
}

/* ESTA ES LA APARIENCIA DE LAS LETRAS DEL ACORDEON (CLASS CSS) */
.letrasacordeon{
    color: black;
}